@font-face
{
font-family: "raleway thin", Arial, Helvetica, sans-serif;
font-weight: normal;

}

body

{
   font-family: "raleway thin";
}


#bloc_page
{
   width: 100%;
   margin: auto;
   height: 100%;
}


h1
{
  display: inline;
  height: 50px;
}

#titre_principal
{
   direction: flex;
   flex-direction: column;

}

#logo
{
   margin-left: 5px;
   flex-direction: row;
   align-items: baseline;
   position: relative;
}

#logo img
{
   width: 200px;
   height: auto;
   padding-top: 5px;
   position: relative;
}

h1
{
font-size: 25px;
}


nav ul 
{
   display: flex;                          /* menu 2 */
   text-decoration: none;
}

nav li

{
   margin-right: 50px;    /* marche pour les 2 menus*/
   display: inline;
   text-decoration: none;
   color: black; 
}

nav li a
{ 
   color: black;         /* marche pour le menu 1 et s'nscrire */ 
}

#menu1
{
   float: right;
   position: absolute;
   top: 80px;
   right: 15px;
   margin-right: 30px;
   border: none;
   text-align: center;     /*est ce necessessaire?*/
}

#menu1 a:hover
{
   color: blue;
}


#Hébergements:hover
{
   text-decoration: overline 2px blue;
   list-style: none;

}

#Activités:hover
{
   text-decoration: overline 2px blue;
}

#sinscrire:hover
{
   text-decoration: overline 2px blue;
}

#search
{
   border: #f2f2f2 solid 2px;
   padding: 3px 3px;
   color: black;
   display: flex;
}


.icone-left 
{
border-top: 2px solid #f2f2f2;
border-bottom: 2px solid #f2f2f2;
border-left: 2px solid #f2f2f2;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border-right-color: #f2f2f2;
padding: 6px 15px;
background-color: #f2f2f2;
}

::placeholder
{
color: black;
font-weight: bold;
}

.icon-right
{
   padding: 7px 12px;
   color: white;
   list-style: none;
   border: #0065FC solid 2px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   background-color: #0065FC;
   text-decoration: none;
}

.icon-right a
{
   text-decoration: none;
   color: white;
   font-weight: 600;
}


#menu2
{
   display: flex;
   position: absolute;
   left: 10px;
}

#economie
{
   border: solid 2px blue;
   display: flex;
   border-radius: 10px 30px 30px 10px;
   height: 30px;
   border-color: #b1b1b1;
   margin-right: 30px;
}

#familiale
{
   border: solid 2px blue;
   display: flex;
   border-radius: 10px 30px 30px 10px;
   height: 30px;
   border-color: #b1b1b1;
   margin-right: 30px;
}


#romantique
{
   border: solid 2px blue;
   display: flex;
   border-radius: 10px 30px 30px 10px;
   height: 30px;
   border-color: #b1b1b1;
   margin-right: 30px;
}

#animaux
{
   border: solid 2px blue;
   display: flex;
   border-radius: 10px 30px 30px 10px;
   height: 30px;
   border-color: #b1b1b1;
   margin-right: 30px;
}


h2
{
   margin-right: 30px;
   margin-top: 2px;
   height: 20px;        /* hauteur entre h2 et p */
   font-size: 20px;

}


#p1
{
   padding-left: 40px;
   opacity: 0.5;
   padding-top: 15px;
   padding-left: 10px;
}
   

section
{
   display: flex;
   height: 1000px;
   

}

article
{
   display: flex;
   flex: auto;
   background-color: #f2f2f2;
   background-repeat: no-repeat ;
   height: auto;
   padding-left: 10x; 
   margin-right: 15px;   
   display: block;   
   flex-wrap: wrap;   /* important !*/

  
 }


 #afficher_plus
 {
    position: relative;
    left: 30px;
    padding-bottom: 0px;         /* impossible de mettre lien en bas */  /* mettre plusieurs noms de villes? */
 }


 img
{
   height: 200px;
   width: 200px;
   padding-top: 50px;      
   padding-bottom: 50px;
   display: inline-flex;
   margin-right: 100px;
   margin-top: 100px;
   flex-wrap: wrap;
   justify-content: center;  
   align-items: center;   
   object-fit: cover;           /* important!!!!! */
}


aside, h1
{
   text-align: center;
   height: auto;
}

aside
{
   flex: 1.2;
   background-color: #f2f2f2;
   background-repeat: no-repeat ;
   
}

aside img
{
   flex-direction: column;
   display: flex;
   position: relative;
   margin-top: 10px;
   padding-bottom: 1px;
   padding-left: 100px;
   margin-right: 250px;
   flex-wrap: wrap;

 }


#container
{
   justify-content: center;
   display: flex;
   flex-direction: row;
}

#conteneur, h5
{
   font-size: 16px;
}


#element1
{
 
}

footer
{
   display: flex;
   background-color: #f2f2f2;
   justify-content: space-evenly;

}

footer, li a
{
  text-decoration: none;
  color: black;
}

footer, ul
{
   list-style-type: none;
}

h6
{
   font-size: 15px;
}
 
@media screen and (max-width: 750px)
{
.full-width-img
{ 
   margin: auto;
   width: 70%;
}
