@font-face
{
font-family: "raleway thin", Arial, Helvetica, sans-serif;
font-weight: normal;

}


body

{
   font-family: "raleway thin";
   color: #181818;
   box-sizing: border-box;
}


#bloc_page
{
   width: 100%;
   height: auto;
}


/*SECTION HEADER*/


#titre_principal
{
   direction: flex;
   flex-direction: column;

}

#logo
{
   margin-left: 5px;
   flex-direction: row;
   align-items: baseline;
   position: relative;
}

#logo img
{
   width: 200px;
   height: auto;
   padding-top: 5px;
   margin-top: 50px;
}

h1
{
font-size: 25px;
display: inline;
height: 50px;
}


nav ul 
{
   display: flex;                          /* menu 2 */
   text-decoration: none;
}

nav li

{
   margin-right: 50px;    /* marche pour les 2 menus*/
   display: inline;
   text-decoration: none;
   color: black; 
}

nav li a
{ 
   color: black;         /* marche pour le menu 1 */ 
}

#menu1
{
   float: right;
   position: absolute;
   top: 80px;
   right: 15px;
   margin-right: 10px;
   border: none;
   text-align: center; 
   left: 1400px 
}

#menu1 a:hover
{
   color: blue;
}

#menu1 a, ul:hover
{
   transition: 0.5s;
}

#Hébergements:hover
{
   text-decoration: overline 2px blue;
   list-style: none;

}

#Activités:hover
{
   text-decoration: overline 2px blue;
}

#sinscrire:hover
{
   text-decoration: overline 2px blue;
}

#search
{
   padding: 3px 3px;
   color: black;
   display: flex;
   border-color: #b1b1b1;
   align-items: center;
  
}

.searchbar
{
   height: 37px;
}


.icon-left 
{
   border-top: 2px solid #f2f2f2;
   border-bottom: 2px solid #f2f2f2;
   border-left: 2px solid #f2f2f2;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   border-right-color: #f2f2f2;
   padding: 6px 15px;
   background-color: #f2f2f2;
   padding-left: 30px;
   height: 21px;
}

::placeholder
{
  color: black;
  font-weight: bold;
 
}

.icon-right
{
   padding: 7px 12px;
   color: white;
   list-style: none;
   border: #0065FC solid 2px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   background-color: #0065FC;
   text-decoration: none;
}

.icon-right a
{
   text-decoration: none;
   color: white;
   font-weight: 600;
}


#menu2
{
   display: flex;
   position: absolute;
   left: 10px;
   padding-top: 20px;
}

button
{
   border-radius: 50%;
   height: 30px;
   margin-right: 30px;
   padding-left: 8px;
}

#economie
{
   border: solid 2px blue;
   display: flex;
   border-radius: 20px 20px 20px 20px;
   height: 30px;
   border-color: #b1b1b1;
   margin-right: 30px;
   align-items: center;
   
}

#familiale
{
   border: solid 2px blue;
   display: flex;
   border-radius: 20px 20px 20px 20px;
   height: 30px;
   border-color: #b1b1b1;
   margin-right: 30px;
   align-items: center;
}


#romantique
{
   border: solid 2px blue;
   display: flex;
   border-radius: 20px 20px 20px 20px;
   height: 30px;
   border-color: #b1b1b1;
   margin-right: 30px;
   align-items: center;
}

#animaux
{
   border: solid 2px blue;
   display: flex;
   border-radius: 20px 20px 20px 20px;
   height: 30px;
   border-color: #b1b1b1;
   margin-right: 30px;
   align-items: center;
}


h2
{
   margin-right: 30px;
   margin-top: 2px;
   height: 20px;        /* hauteur entre h2 et p */
   font-size: 16px;

}


#p1
{
   padding-left: 40px;
   opacity: 0.5;
   padding-top: 15px;
   padding-left: 10px;
   display: flex;
   align-items: center;
   padding-top: 60px;
}



/*SECTION*/
   


.main .container1
{
  display: flex;      /*dispose les block article*/
  flex-wrap: wrap;

}

#hebergements_populaire
{
   
   display: flex;
   justify-content: space-between;    
   width: 100%;
   margin-right: 5px;
   margin-left: 5px;
}

img

   {
   height: 200px;
   width: 200px;
   padding-top: 50px;      
   padding-bottom: 50px;
   display: inline-block;
   margin-top: 1px;
   flex-wrap: wrap;  
   align-items: center;   
   object-fit: cover; 
}  

/*SECTION ARTICLE*/

#hebergements
{
   display: flex;        
   background-color: #f2f2f2;
   /*margin-right: 15px;  */ 
   flex-wrap: wrap;  
   width: 70%;
   border-radius: 7px;
}

article img
{
   border-radius: 1rem 0 0 1rem;
   position: relative;
   
}


.container1 
{
width: 30%;
margin-top: 50px;
display: flex;
flex-direction: column;
}

.container1 div
{
margin-right: 10px;
margin-left: 10px;                         
align-items: center;
padding-left: 0px;
padding-bottom: 10px;        /*block blanc!!!!!*/
}


.container1 i
{
   color: #0065FC;
}

.Auberge
{
display: flex;
flex-direction: column;
padding: 0.375rem;
background-color: white;
border: 2px white;
border-radius: 20px;
box-sizing: border-box;
padding-left: 10px;
text-align: center;
padding-bottom: 50px;

}

.Auberge img
{
   position: relative;
   height: 50%;
   width: 60%;             
   margin-left: 10px;
   padding-top: 3px;
   margin-right: 1px;
   border-radius: 20px;
   padding-bottom: 15px;
}

.Auberge_info1, .Auberge_info2, .Auberge_info3
{
   height: 1px;
   text-align: left;              /*bloc 1 dimension*/
}


.Auberge_info4, .Auberge_info5, .Auberge_info6
{
   text-align: left;
}


#afficher_plus
{
    position: absolute;
    left: 30px;
    margin-top: 730px;
    padding-bottom: 0px;        
}





/*SECTION ASIDE*/

aside
{
   background-color: #f2f2f2;
   border-radius: 7px;
   padding: 10px;
   margin-right: 15px;
   margin-left: 15px;
   font-size: 0.9em;
   width: 30%;
   flex-wrap: wrap;
}

h4
{
   text-align: center;
   font-weight: bold;
 
}

h4 i
{
   position: absolute;
   right: 30px;
   font-size: 16px;
   font-weight: bold;
}


aside img
{
   display: flex;
   /*position: relative;*/
   flex-wrap: wrap;
   border-radius:  1rem 0px 0px 1rem;
}


.container2
{
   
   display: flex;
   display: inline-block;
   flex-direction: column;
   
}

.container2 div
{
   width: 400px;
   margin-left: 5px;
   margin-bottom: 10px;
   align-items: center;
}


.container2 i
{
   color: #0065FC;
}

.container2 img
{
   padding-top: 3px;
   padding-bottom: 3px;
   /*position: relative;*/
}


.Hôteldumatin
{
   display: flex;
   padding: 0.375rem;
   background-color: white;
   border: 2px white;
   border-radius: 8px;
   box-sizing: border-box;
   box-shadow: 10px 20px 16px #0000002e;
   
}


.Hôteldumatin_info
{
   position: absolute;
   padding-left: 80px;

}



.hoteldeleau
{
    display: flex;
    padding: 0.375rem;
    background-color: white;
    border: 2px white;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 10px 20px 16px #0000002e;/*??????*/
    
}



.Hoteldeleau_info
{
 position: absolute;
 padding-left: 80px;
}

.hotelbleublanc
{
    display: flex;
    padding: 0.375rem;
    background-color:white;
    border: 2px white;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 10px 20px 16px #0000002e;
}

.hotelbleublanc_info
{
position: absolute;
padding-left: 80px;
}



/*SECTION ACTIVITY*/

.Activity
{
flex-wrap: wrap;
}

h5
{
   font-size: 16px;/*?????*/
}

.container3
{
   display: flex;
   margin-top: 30px;
   justify-content: space-around;
   flex-wrap: wrap;
}

.container3 img
{
  
   border-radius: 8px;     /* sert pour dimension bloc blanc*/
   padding-top: 0px;
   padding-left: 1px;
   padding-right: 1px;
   padding-bottom: 50px;
}



.card1
{
   display: flex;
   padding: 0.375rem;
   background-color: white;
   border: 2px white;                              /*?????? mettre card1?*/
   border-radius: 8px;
   box-sizing: border-box;
   box-shadow: 10px 20px 16px #0000002e;
   margin-bottom: 15px;
  
}


.card1 p
{
   position: absolute;
   margin-bottom: 10px;
   top: 1670px;
   left: 200px;

}

.card2
{
   display: flex;
   padding: 0.375rem;
   background-color: white;
   border: 2px white;                       
   border-radius: 8px;
   box-sizing: border-box;
   box-shadow: 10px 20px 16px #0000002e;
   margin-bottom: 15px;
   margin-bottom: 200px;
   width: 250px;
}


.card2 p
{
position: absolute;
margin-bottom: 10px;
top: 1500px;
left: 640px;
}


.card3
{
   display: flex;
   padding: 0.375rem;
   background-color: white;
   border: 2px white;                              
   border-radius: 8px;
   box-sizing: border-box;
   box-shadow: 10px 20px 16px #0000002e;
   margin-bottom: 15px;
   position: absolute;
   left: 585px;
   top: 1580px;  
   width: 250px;                                  /*agrandire bloc blanc*/                              
}

.card3 p
{
   position: absolute;
   margin-bottom: 10px;
   top: 110px;
   left: 60px;
}




.card4
{
   display: flex;
   padding: 0.375rem;
   background-color: white;
   border: 2px white;                             
   border-radius: 8px;
   box-sizing: border-box;
   box-shadow: 10px 20px 16px #0000002e;
   margin-bottom: 15px;
}

.card4 p
{
   position: absolute;
   margin-bottom: 10px;
   top: 1670px;
   left: 1080px;
}


.card5
{
   display: flex;
   padding: 0.375rem;
   background-color: white;
   border: 2px white;                             
   border-radius: 8px;
   box-sizing: border-box;
   box-shadow: 10px 20px 16px #0000002e;
   margin-bottom: 15px;
   margin-bottom: 200px;
  
}

.card5 p
{
position: absolute;
margin-bottom: 15px;
right: 160px;
top: 1500px
}

.card6
{
   display: flex;
   padding: 0.375rem;
   background-color: white;
   border: 2px white;                             
   border-radius: 8px;
   box-sizing: border-box;
   box-shadow: 10px 20px 16px #0000002e;
   margin-bottom: 15px;
   position: absolute;
   top: 1580px;
   right: 115px;
   padding-bottom: 1px;
}

.card6 p
{
   position: absolute;
   margin-bottom: 15px;
   right: 65px;
   top: 110px;
}


footer
{
   display: flex;
   background-color: #f2f2f2;
   justify-content: space-evenly;
   width: 100%;
   justify-content: flex-start;
}

footer, li a
{
  text-decoration: none;
  color: black;
  
}

footer, ul
{
   list-style-type: none;
   margin-right: 300px;
}

.container4
{
display: flex;
}

h6
{
   font-size: 15px;
}
 



@media screen and (max-width: 1024px) 
   #bloc_page {
       width: auto;
   }

   .header_nav {
       width: auto;
       text-align: left;
       flex-flow: wrap;
       margin-top: 0px;
       margin-right: 0px;
       margin-left: 0px;
   }

   .header_nav ul {
 
       
   }

   aside {
       text-align: center;
   }
