@font-face
{
font-family: "raleway thin", Arial, Helvetica, sans-serif;
font-weight: normal;

}


body

{
   font-family: "raleway thin";
   font-weight: normal;
   color: #181818;                     /*??????????????????*/
   box-sizing: border-box;
   margin: auto;
   height: auto;
}


nav a, h1, p
{
    font-family: 'raleway', Arial, Helvetica, sans-serif;
}

h2, aside h1, h3, footer h1,
{
    font-family: 'raleway', Arial, Helvetica, sans-serif;
}




/*SECTION HEADER*/

header
{
   display: flex;
   justify-content: space-between;
}

#logo
{
   margin-left: 5px;
   flex-direction: row;
   align-items: baseline;
   position: relative;
}

#logo img
{
   width: 200px;
   height: auto;
   padding-top: 5px;
   padding-bottom: 20px;
}

h1
{
font-size: 25px;
display: inline;
height: 50px;
margin-left: 10px;
}

p
{
   margin-left: 10px;
}


.header_nav
{
    display: flex;
    color:#444;
    margin-right: 10px;
    padding-left: 10px;
    position: relative;
    flex-direction: row-reverse;
}

.header_nav a
{
    color:#444;
    text-decoration: none;
}

#header_list
{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 30px;
}

.nav_list, .subscribe 
{
    font-size: 1.1em;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    color:#444;
    border-top: solid 3px white;
}

.subscribe 
{
    margin-top: 35px;
    margin-left: 5px;
    padding-right: 120px;

}

.subscribe a {
    color: #0065fc;
    text-decoration: none;
}


    /* survol */ 

.nav_list:hover
{
    border-color: #0065fc;
    color:#0065fc;
}

.nav_list a:hover
{
    color: #0065fc;
}


nav li

{
   margin-right: 50px;    /* marche pour les 2 menus*/
   display: inline;
   text-decoration: none;
   color: black; 
}

nav li a
{ 
   color: black;        /* marche pour le menu 1 */ 
}



#search
{
   padding: 3px 3px;
   color: black;
   display: flex;
   border-color: #b1b1b1;
   align-items: center;
   margin-left: 5px;
  
}

.searchbar
{
   height: 37px;
}


.icon-left 
{
   border-top: 2px solid #f2f2f2;
   border-bottom: 2px solid #f2f2f2;
   border-left: 2px solid #f2f2f2;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   border-right-color: #f2f2f2;
   padding: 6px 15px;
   background-color: #f2f2f2;
   padding-left: 30px;
   height: 22px;
}

::placeholder
{
  color: black;
  font-weight: bold;
 
}

.icon-right
{
   padding: 7px 12px;
   color: white;
   list-style: none;
   border: #0065FC solid 2px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   background-color: #0065FC;
   text-decoration: none;
}

.icon-right a
{
   text-decoration: none;
   color: white;
   font-weight: 600;
}

.rechercher_loupe {
    display: none;
}


.conteneur-filtre{
   display: flex;
   align-items: center;
   margin-top: 20px;
   margin-left: 10px;
   cursor: pointer;
}

.block-filtre{
   display: flex;
   margin: 10px;
   align-items: center;
   border: #F2F2F2 2px solid;
   border-radius: 25px;
   width: auto;
   padding: 0px 10px 0 0;
}
.conteneur-icon-filtre{
   color:#0065FC;
   background-color: #DEEBFF;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: #DEEBFF 2px solid;
}

.block-text-filtre
{
   font-size: 16px;
   font-weight: bold;
}


.conteneur-text-filtre
{
   margin-left: 5px;
   font-weight: bold;
}

.conteneur-text-filtre1
{
    font-size: 16px;
   font-weight: bold;
}
 

.block-filtre:hover
{
    color: blue;
}



h1
{
  
   margin-top: 2px;
   height: 20px;       
   font-size: 20px;
}


.paragraphe
{
   padding-left: 40px;
   opacity: 0.5;
   padding-left: 10px;
   display: flex;
   align-items: center;
   padding-top: 30px;
}



/*SECTION*/
   


.main_accommodation
{
    display: flex;
    margin-right: 5px;
    margin-left: 10px;
}

.marseille h1
{
    font-size: 18px;
    font-weight: bold;
}

article 
{
    width: 60%;
    background-color: #f2f2f2;
    justify-content: left;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 7px;
    box-shadow: 0px 5px 10px #d9d9d9;
}

.conteneur1 
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    border-radius: 10px;
    padding-top: 40px;
    margin-left: 30px;
   
}

.conteneur1 div 
{
    background-color: white;
    margin-bottom: 15px;
    margin-right: 15px;
    cursor: pointer;
    width: 300px;
    height: auto;
}

.conteneur1 a
{
    text-decoration: none;
    color: black;
}

.main_accommodation img
{
    border-radius: 1rem 1rem 0rem 0rem;
    width: 100%;
    height: 9rem;
    background-color: white;
    object-fit: cover;
    border-color: white;
    /*align-items: stretch;*/
}

.marseille_accommodation h1
{
   font-size: 18px;
   font-weight: bold;
}

.conteneur1 a:visited 
{
   color:black    /*??????*/
}

.aubergecannebiere
{
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 5px 10px #d9d9d9;
    border-radius: 1rem 1rem 1rem 1rem;
}

.hotelduport
{
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 5px 10px #d9d9d9;
    border-radius: 1rem 1rem 1rem 1rem;
}

.hotellesmouettes
{
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 5px 10px #d9d9d9;
    border-radius: 1rem 1rem 1rem 1rem;
}

.hoteldelamer
{
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 5px 10px #d9d9d9;
    border-radius: 1rem 1rem 1rem 1rem;
}


.aubergelepanier
{
    display: flex;
    flex-direction: column;
    width: 100px; 
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 5px 10px #d9d9d9;
    border-radius: 1rem 1rem 1rem 1rem;
}

.hotelamina
{
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 5px 10px #d9d9d9;
    border-radius: 1rem 1rem 1rem 1rem;
}

.info
{
  margin-top: 15px;
}

#Afficher_plus a
{
   color: #181818;
   text-decoration: none;
}


/*SECTION ASIDE*/


aside
{ 
    width: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0px 5px 10px #d9d9d9;
    border-radius: 1rem 0 0 1rem;
    margin-left: 25px;
    margin-right: 20px;
  
}

aside h1
{
    margin: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}

aside a
{
   text-decoration: #0065fc; 
}

aside img
{
    position: relative;
    height: 120px;
    background-color: white;
}
.conteneur2
{
    display: inline-block;
    flex-direction: column;
}

.conteneur2 div 
{
    margin-left: 10px;
    margin-bottom: 15px;
    width: 90%;
}

.conteneur2 img
{
    border-radius: 1rem 0 0 1rem;
    
}

.hoteldumatin
{
    display: flex;
    height: 28%;
    padding: 0.375rem;
    background-color: white;
    border: 2px white;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 16px #0000002e;
    margin-top: 20px;
    width: 95%;
}

.hoteldeleau
{
    display: flex;
    height: 28%;
    padding: 0.375rem;
    background-color: white;
    border: 2px white;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 16px #0000002e;
    margin-top: 60px;
}

.hotelbleublanc
{
    display: flex;
    height: 28%;
    padding: 0.375rem;
    background-color:white;
    border: 2px white;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 0 16px #0000002e;
    margin-top: 60px;
}

.etoiles 
{
    color: #0065fc;
}

.etoilegrise
{
    color: grey;
}

.hoteldumatin_info
{
    align-items: center;
    color: #181818;
    padding-top: 15px;
}

.hoteldeleau_info
{
   align-items: center;
   color: #181818;
}

.hotelbleublanc
{
   align-items: center;
   color: #181818;
 
}


/*SECTION ACTIVITY*/
h3
{
   font-size: 18px;
   margin-left: 20px;
}

.container3
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   object-fit: cover;
   flex-wrap: wrap;
}

.container3 img
{
    object-fit: cover;
}

.container3 a
{
    text-decoration: none;
    color: #181818;
    font-weight: bold;
}

.party1
{
    display: flex;
    align-items: center;
}


.party2
{
    display: flex;
    align-items: center;
    margin-right: 150px;
}


.picture1
{
   width: 50%;
   height: 26rem;
   margin-left: 5px;
   flex-direction: column;
   border: 2px #b1b1b1;
   border-radius: 8px;
   box-shadow: 0 0 16px #0000002e;
}

.card1
{
 margin :0;
}

.img_vieuxport
{
   width: 100%;
   height: 22rem;
   border-radius: 0.5rem 0.5rem 0 0;
}

.block1
{
padding-bottom: 10px;
width: 25%;
padding-top: 40px;
margin-left: 35px;
}

.picture2
{
   flex-direction: column;
   border: 2px #b1b1b1;
   border-radius: 8px;
   box-shadow: 0 0 16px #0000002e;
   width: 200%;
}
.card2
{
    position: relative;
    bottom: 15px;
}

.img_fort
{
   width: 100%;
   height: 9rem;
   border-radius: 0.5rem 0.5rem 0 0;
}

.picture3
{
    flex-direction: column;
    border: 2px #b1b1b1;
    border-radius: 8px;
    box-shadow: 0 0 16px #0000002e;
    width: 200%;
    margin-top: 50px;
}


.img_ile
{
   width: 100%;
   height: 8rem;
   border-radius: 0.5rem 0.5rem 0 0;
}

.picture4
{
    flex-direction: column;
    border: 2px #b1b1b1;
    border-radius: 8px;
    box-shadow: 0 0 16px #0000002e;
    width: 45%;
    height: 26rem;
    margin-left: 5px;
   
}


.img_calanques
{
   width: 100%;
   height: 22rem;
   border-radius: 0.5rem 0.5rem 0 0;
}

.block2
{
   margin-right: 90px;
   padding-bottom: 10px;
   width: 25%;
   padding-top: 40px;
   margin-left: 35px;
}

.picture5
{
   flex-direction: column;
   border: 2px #b1b1b1;
   border-radius: 8px;
   box-shadow: 0 0 16px #0000002e;
   width: 172%;
  
}

.card5
{
   position: relative;
   bottom: 15px;
}

.img_notredame
{
   width: 100%;
   height: 9rem;
   border-radius: 0.5rem 0.5rem 0 0;
}

.picture6
{
    flex-direction: column;
    border: 2px #b1b1b1;
    border-radius: 8px;
    box-shadow: 0 0 16px #0000002e;
    width: 172%;
    margin-top: 50px;
}

.img_longchamp
{
   width: 100%;
   height: 8rem;
   border-radius: 0.5rem 0.5rem 0 0;
}


 .footer
{
    display: flex;
    margin-top: 50px;
    background-color: #f2f2f2;
    border: 2px #f2f2f2;
    border-radius: 5px;
    height: 220px;
    justify-content: space-around;
    padding-top: 40px;
}   

.footer h1
{
    padding-left: 5px;
    font-size: 16px;
}


 footer ul
 {
     padding: 2rem 1rem;
     list-style-type: none;
} 



footer a 
{
    color:black;
    text-decoration: none;
}

footer li
{
    margin-top: 10px;
}


footer a:hover 
{
    color:#0065fc;
}




@media all and (max-width: 1400px) {
    
      

        #logo img
        {
           height: 4rem;
           padding-top: 30px;
        }

        .conteneur_filtre {
            flex-wrap: wrap;
            flex-direction: row;
            align-items: left;
            justify-content: space-around;
        }
   
       h1 
       {
          margin-left: 15px;
       }

       #main_accommodation {
        display: flex;
        flex-direction: column-reverse;
    }

       article {
        width: 100%;
        justify-content: space-evenly;
    }

    aside {
        width: 95%;
        flex-direction: row;
        margin-left: 15px;
        margin-bottom: 40px;
    }  

    .hoteldumatin {
        width: 33%;
    }

    .hoteldeleau {
        width: 33%;
    }

    .hotelbleublanc {
        width: 33%;
    }

    }    
    
    @media screen and (max-width: 1024px) 
    {
     body
     {
     width: 100%;
     height: auto;
     margin: auto;
     }   
 
     header
     {
     width: 100%;
     }  
 
     .header_nav 
     {
     display: flex;
     border-top: none;
     }
 
     #logo img
     {
     height: 4rem;
     padding-top: 30px;
     }
 
     .nav_list 
     {
     width: 100%;
     display: flex;
     justify-content:space-around;
     border-bottom: solid 3px lightgrey;
     padding-bottom: 20px;
    
     }
 
     .nav_list:hover 
     {
     border-top: none;
     border-bottom: solid 3px #0065fc;
     padding-bottom: 30px;
     }    
 
     .subscribe 
     {
     display: flex;
     justify-content: flex-end;
     padding-right: 50px;
     flex-wrap: wrap;
     }
 
     .subscribe:hover 
     {
     border-top: none;
     border-bottom: none;
    }
 
    .conteneur_filter 
    {
         flex-wrap: wrap;
         flex-direction: row;
         align-items: left;
         justify-content: space-around;
    }
 
    .main_accommodation 
    {
     display: flex;
     flex-direction: column-reverse;
    }
 
    .conteneur1
    {
       width: 100%;
       margin: 0;
      /* justify-content: space-evenly;*/
    }

    .hotelduport
  {
      margin-left: 50px;
  }

  .hoteldelamer
  {
      margin-left: 50px;
  }
 
    .info a
    {
     text-decoration: none;
     color: black;
   }


 
    .conteneur2
    {
      width: 100%;
    }
 
    .container3
    {
     
     display: flex;
    }

    .party1
    {
        margin: 0;
    }
    .party2
    {
        margin: 0;
    }


    .party2
    {
        margin: 0;
    }

    .picture4
    {
       width: 43%;
    }

    
    }
   
 

    /*mobile*/

       @media all and (max-width: 767px)
       {

        #logo img
        {
           height: 4rem;
           padding-top: 30px;
        }

        .header_nav
       {
           width: 100%;
           display: flex;
           flex-direction: column;
           border-top: none;
       }
   
       .nav_list 
       {
           width: 50%;
           display: flex;
           justify-content: center;
           border-bottom: solid 3px lightgrey;
           padding-bottom: 20px;
           position: relative;
           right: 200px;
       }

     
       .nav_list:hover {
           border-top: none;
           border-bottom: solid 3px #0065fc;
           padding-bottom: 30px;
       }    
   
       
       .subscribe {
           display: flex;
           justify-content: flex-end;
           margin-right: 150px;
           flex-wrap: wrap;
       }

       .subscribe:hover 
       {
        border-top: none;
        border-bottom: none;
       }

       h1
       {
      display: flex;
       }
           
       #search
       {
        width: 100%;
        border-radius: 15px 15px 15px 15px;
        margin-left: 15px;
       }

       .icon-right
       {
          display: none;
       }

       .rechercher_loupe
       {
        display: flex;
        width: 40px;
        background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 0 1rem 1rem 0;
        height: 37px;
        align-items: center;
       }
        
       

      .conteneur-filtre
       {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        row-gap: 5px;
        width: 70%;
        margin-top: 40px;
       }

       .block-text-filtre
       {
        position: absolute;
        top: 400px;
       }


       .block-filtre
       {
          margin-left: 15px;
              
       }

       p
       {
           margin-top: 50px;
       }

       /*main_accomodation*/

       .main_accommodation
       {
           flex-direction: column;
           display: flex;
           margin-right: 0;
           margin-left: 0;
           flex-wrap: wrap;
           flex-direction: column-reverse;
       }

       .marseille 
       {
          text-align: left;
       }


       article
       {
        margin-right: 0%;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        margin-left: 10px;
        background-color: white;
        box-shadow: none;
       }

       .conteneur1
       {
        width: 100%;
        align-items: left;
        padding-top: 5px;
        border-radius: 15px;
        justify-content: space-evenly;  /*???*/
        background-color: white; 
        margin-top: 20px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        margin: 0;
       }

       .conteneur1 div
       {
        background-color: none;/*?????*/
        width: 350px;
       }

       .hotelbleublanc
       {
          
       }

       /*aside*/

       aside
       {
        width: 100%;
        border-radius: 0px;
        height: 850px;
        margin-bottom: 15px;
        margin-left: 0px;
        flex-wrap: wrap;
        padding-left: 10px;
       }

       .conteneur2
       {
        width: 65%;

       }

       .conteneur2 div
       {
        width: 80%;
       }
       
       .conteneur2 img 
       {
        width: 100%;
        height: 200px;   
       }

       .conteneur2 img 
       {
           width: 500px;
       }

       .hoteldumatin_info
       {
           align-items: center;
           padding-top: 40px;
       }

       .hoteldeleau_info
       {
        padding-top: 40px;
       }


/*activités*/

       .container3
       {
          flex-direction: column;
          display: flex;
          height: auto;
          object-fit: cover;
          align-items: center;
          width: 100%;
         /* flex-wrap: wrap;*/
       }

       .party1
        {
            flex-direction: column;
            margin-right: 600px;
        }

        .party2
        {
            flex-direction: column;
            margin-right: 500px;

        }

       .block1
       {
          width: 100%;
       }

       .block2
       {
          width: 100%;
    
       }
        
       .picture1
       {
          height: 300px;
          width: 500px;
          border-radius: 10px;
          margin-top: 20px;
       }

       .img_vieuxport
       {
           height: 200px;

       }

       .picture2
       {
          height: 300px;
          width: 500px;
          margin-top: 50px;
          border-radius: 10px;
       }

       .img_fort
       {
          height: 200px;
       }

       .picture3
       {
          
        height: 300px;
        width: 500px;
        margin-top: 50px;
        border-radius: 10px;
       }

       .img_ile
       {
        height: 200px;
       }

       .picture4
       {
        height: 300px;
        width: 500px;
        margin-top: 50px;
        border-radius: 10px;

       }

       .img_calanques
       {
        height: 200px;
       }

       .picture5
       {
        height: 300px;
        width: 500px;
        margin-top: 50px;
        border-radius: 10px;
       }

       .img_notredame
       {
        height: 200px;
       }

       .picture6
       {
        height: 300px;
        width: 500px;
        margin-top: 50px;
        border-radius: 10px;
       }

      
      .img_longchamp
       {
        height: 200px;
       }
       
       .footer
       {
            height: auto;
            flex-direction: column;
            background-color: #f2f2f2;
            padding-top: 15px;
        }

           
        .left {
            width: auto;
            padding-left: 25px;
            margin-top: 15px
        }

        .middle {
            width: auto;
            padding-left: 25px;
            margin-top: 15px
        }

        .right{
            width: auto;
            padding-left: 25px;
            margin-top: 15px;
        }

      
   }   

  


   


